---
import SiteAnalytics from "../../components/SiteAnalytics.astro";
import SiteHead from "../../components/SiteHead.astro";
import "../../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <SiteHead
      title="Selected Product Design Work - Alexander Traykov"
      description="Selected product design work by Alexander Traykov."
      path="/"
      noindex={true}
      refresh="0;url=/#work"
    />
  </head>
  <body>
    <main id="top" class="section-shell">
      <p><a href="/#work">View selected work on the homepage</a></p>
    </main>
    <SiteAnalytics />
  </body>
</html>
